<% provide(:title, 'About this project') %>
<h1>Slumlord WordPress with Docker</h1>
<p>This should not be used by anyone.</p>
<p>
  Original project: <a href="https://github.com/jbarbier/SaaS_Memcached">SaaS_Memcached</a>
</p>
<p>
  Get the code for what you are seeing here: <a href="https://github.com/hhoover/slumlord-wordpress">Slumlord WordPress</a>
</p>