<footer class="footer">
  <small>
    Find the source on <a href="https://github.com/hhoover/slumlord-wordpress">GitHub</a>
  </small>
  <nav>
    <ul>
      <li>
	<a href="http://www.slideshare.net/julienbarbier42/building-a-saas-using-docker">Build your own SaaS using docker</a>
      </li>
    </ul>
  </nav>
</footer>
